<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<div class="row-fluid">
	<div class="span8">
		<% if @happenings %>
			<% @happenings.each do |happening| %>
				<div class ="well"> 
					<%= happening.content %>
					<hr />
					<%= link_to time_ago_in_words(happening.created_at), happening_path(happening) %> ago
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="span4 well">
		<strong>Calendar</strong></br>
		<% @favorites.each do |f| %>
			<a><%= link_to f.happening.title, f.happening %> in <%= distance_of_time_in_words( Time.now, f.happening.time_of) %> </a></br>
		<% end %>
	</div>
</div>
