<div class="page-header">
	<%=content_for(:title, @user.full_name) %>
	<h1><%=h yield(:title) %></h1>
</div>
<div class="row-fluid">
	<div class="span7">
	<table class="table table-bordered">
		<thread><th><h4>Created by <%=@user.full_name%></h4></th></thread>
		</tbody>
		<tr>
		<td>
			<% if @happenings %>
				<% @happenings.each do |happening| %>
					<div class ="well"> 
						<%= happening.content %>
						<hr />
						<%= link_to "Created "+time_ago_in_words(happening.created_at), happening_path(happening) %> ago
					</div>
				<% end %>
			<% end %>
		</td>
		</tr>
		</tbody>
	</table>
	</div>
	<div class="span5 well">
		<%= render 'calendar' %>
	</div>
</div>

strftime("%a | %B %d | %I:%M %p")