<%= simple_form_for(@happening) do |f| %>
  <% if @happening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@happening.errors.count, "error") %> prohibited this happening from being saved:</h2>

      <ul>
      <% @happening.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="span3"><%= f.input :title %></div>
      <div class="span3"><%= f.input :address %></div>
      <div class="span3"><%= f.input :tag_list %></div>
    </div>
    <div class="row-fluid">
      <div class="span12"><%= f.input :time_of, :label => 'Start Date', :start_year => Date.today.year,
                            :end_year => Date.today.year + 1, 
                            :ampm => true %>
      </div>
    </div>
    <div class="row-fluid">
  <div class="span12"><%= f.input :content, :label => "Description", :as => :text,  :input_html => { :rows => 5 }  %></div>
    </div>
  </div>
  <div class="form-actions">
  <%= f.button :submit %>
  </div>
<% end %>
