<%= simple_form_for(@happening) do |f| %>
  <% if @happening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@happening.errors.count, "error") %> prohibited this happening from being saved:</h2>

      <ul>
      <% @happening.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span12">
      <div class="span3"><%= f.input :title %></div>
      <div class="span6"><%= f.input :tag_list, :placeholder => "Seperate tags with commas \",\"" %></div>
      <div class="span3"><%= f.input :website %></div>
      <div class="span3"><%= f.input :address %></div>
  </div>
</div>

<div class="span3"><%= f.input :content, :label => "Description", :as => :text, :input_html => { :rows => 5 } %></div>

<div class="span6">
  <label>Date range</label>
  <div id="datetimepicker1" class="input-append date">
      <input data-format="dd/MM/yyyy hh:mm:ss" type="text" name="happening[time_of]"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>
  <div id="datetimepicker2" class="input-append date">
      <input data-format="dd/MM/yyyy hh:mm:ss" type="text" name="happening[end_time]"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>
</div>


<div class="form-actions span12">
 <%= f.button :submit %>
</div>
<% end %>


<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>