<%= stylesheet_link_tag 'gmaps4rails' %>

<div class="row">
	<div class="span4">
		<p class="lead">
		  <%= @happening.title %>
		</p>
		<p>
		  <%= @happening.content %>
		</p>
		<p> 
		<p>
		  <b>Created by:</b>
		  <%= link_to @happening.user.profile_name, "/"+@happening.user.profile_name  %>
		</p>
			<b>Tags:</b>
			<%= raw @happening.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
		</p>
			<%= link_to 'Edit', edit_happening_path(@happening) %> |
	<%= link_to 'Back', happenings_path %>
	</div>
	<div class="span4"><%= gmaps4rails(@json) %></div>
</div>
<%= yield :scripts %> 
