<% content_for :title, @happening.title %>
<%= stylesheet_link_tag 'gmaps4rails' %>
<script>  
	$('.carousel').carousel()
</script> 
<div class="row">

	<div class="span3">
		<p class="lead happening-title"><%= @happening.title %><p>

		<p class="muted">
		  <small>Created by: <%= @happening.user.profile_name %></small>
		</p>
		<p>
			<div id="favorite">
				<%= render 'favorites/favorite_button', :happening => @happening %>
			</div>
		</p>
		<p>
			<%= @happening.content %>
		</p>
		<!-- Time Carousel -->
		<div id="myCarousel" class="carousel slide" data-interval="false">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item"><%= @happening.time_of.strftime("%a | %B %d | %I:%M %p") %></div>
				<div class="item"><%= distance_of_time_in_words( Time.now, @happening.time_of) %></div>
			</div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		<!-- End Time Carousel -->
				<p>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
		<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
		</p>
		<p> 
			<b>Tags:</b>
			<%= show_tag_list @happening %>
		</p>
		<p>
			<%= link_to 'Edit', edit_happening_path(@happening) %> |
			<%= link_to 'Back', happenings_path %>
		</p>
	</div>

	<div class="span6"> 
		<%= gmaps4rails(@json) %>
	</div>

	<div class="span3">
	  <b>Attending:</b> <span class="badge badge-success"><%= @favorites.count %></span></br>
	    <div class="attending_user">
		  <% @favorites.reverse_each do |f| %>
		  	<a class="text-success" href="<%="/"+f.user.profile_name %>"><%= f.user.full_name %></a></br>
		  <% end %>
		</div>
	</div>

</div>


<%= yield :scripts %> 
