<% content_for :title, @happening.title %>
<%= stylesheet_link_tag 'gmaps4rails' %>
<div class="row">

	<div class="span3">
		<p class="lead happening-title"><%= @happening.title %><p>

		<p class="muted">
		  <small>Created by: <%= link_to @happening.user.profile_name, "/"+@happening.user.profile_name %></small>
		</p>
		<p>
			<div id="favorite">
				<%= render 'favorites/favorite_button', :happening => @happening %>
			</div>
		</p>
		<p>
			<%= @happening.content %>
		</p>
			<div class="active item"><%= @happening.time_of.strftime("%a | %B %d | %I:%M %p") %></div>
		<p>
		<!-- start twitter-->
		<p>
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
		</p>
		<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
		<!-- end twitter-->
		</p>
		<p> 
			<b>Tags:</b>
			<%= show_tag_list @happening %>
		</p>
		<p>
			<% if current_user == @happening.user %>
			<%= link_to 'Edit', edit_happening_path(@happening) %> |
			<%= link_to 'Delete', @happening, :confirm => 'Are you sure?', :method => :delete %> |
			<% end %>
			<%= link_to 'Back', happenings_path %>
		</p>
	</div>

	<div class="span6"> 
		<%= gmaps4rails(@json) %>
	</div>

	<div class="span3">
	  <b>Attending:</b> <span class="badge badge-success"><%= @favorites.count %></span></br>
	    <div class="attending_user">
		  <% @favorites.reverse_each do |f| %>
		  	<a class="text-success" href="<%="/"+f.user.profile_name %>"><%= f.user.full_name %></a></br>
		  <% end %>
		</div>
	</div>

</div>


<%= yield :scripts %> 
