<body  style="background:#ffffff url('../assets/PortlandSky.jpg') no-repeat left top;
				background-size:cover; ">
<div class="row-fluid">
	<div class="span5">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well"}) do |f| %>
		  
		<fieldset>
			<legend>Sign in</legend>
		  <%= f.input :email %>
		  <%= f.input :password %>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.input :remember_me, :as => :boolean %></div>
		</fieldset>
		  <% end -%>

		  <div><%= f.button :submit, "Sign in" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
	<div class="span7">
    <div class="hero-unit">
      <h1>Signing up is easy!</h1>
      <p>A simpler way to see what's happening.</p>
      <p>
        <a>
          <%= link_to "Sign up!", register_path, :class => 'btn btn-primary btn-large btn-block' %>
        </a>
      </p>
    </div>
  </div>
</div>
</body>
