<!DOCTYPE html> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>  
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>  
<html>
<head>
  <title class="title"><%=h yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row-fluid">
	<div class="span12">
		<div class="pull-right" style="padding:10px;">
			<% if user_signed_in? %>
		    	<%= link_to "Profile", "/"+current_user.profile_name %>
		    	<%= link_to "Log out", logout_path %>
			<% else %>
				<%= link_to "Register", register_path %> |
				<%= link_to "Sign in", login_path %>
			<% end %>
		</div>
	</div>
</div>
<div class="container">
	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
		<%= message %>
		</div>
	<% end %>
	<%= yield %>
</div>
</body>
</html>
